*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #fdfff4;
    display: flex;
    padding: 25px 40px 25px 40px;
    font-family: 'Times New Roman', Times, serif;
}

nav
{
    padding: 10px;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: 500;
}

ul
{
    margin-top: 10px;
    list-style: none;
}

li
{
    padding: 5px;
}

a
{
    text-decoration: none;
    color: black;
}

.Beagle-nav
{
    color:blue;
}

main
{
   padding: 15px;
   display: grid;
}

.breed-image
{
    display: flex;
    align-items: center;
    justify-content: center;
}

img
{
    width: 200px;
    height:200px;
    border-radius: 100px;
    object-fit: fill;
    border: 2px solid lightgray;
    margin-bottom: 15px;
}

h1
{
    padding: 10px 0 10px 0;
}

td
{
    padding:10px 20px 10px 0;
}

.bold
{
    font-weight: bold;
}

p
{
    padding: 25px 0 0 0;
}

.Rottweiler
{
    display: none;
}